@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $magnolia;
}

main {
  background-color: $white;
  min-height: 80vh;
  min-width: 80vw;
}

// Footer
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
